body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Home{
    display: flex;
    float: right;
    color: black;
    font-size: xx-large;
}
div{
    padding-right: 25px;
}
a{
    text-decoration: none;
    color: black;
}